<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/main.css" />
    <script src="static/htmx.min.js"></script>
    <title>The Game Zone</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👽</text></svg>"
    />
  </head>
  <body class="h-screen bg-[url('/static/background.jpg')] p-24">
    <div class="flex h-full w-full flex-col items-center justify-evenly gap-16">
      <h2
        class="relative z-20 text-center font-playpen text-[80px] leading-[5rem] text-gray-900"
      >
        The Game Zone
      </h2>
      <div
        id="container"
        class="relative z-10 flex w-full max-w-4xl flex-1 overflow-hidden rounded-[45px] border-[14px] border-blue-500 bg-white"
      >
        {% block content %} {% endblock %}
      </div>
    </div>
    <!-- script for ensuring images fade in after loading -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const images = document.querySelectorAll("img:not([rel='icon'])");
        images.forEach((img) => {
          function fadeInImage() {
            setTimeout(() => {
              img.classList.add("opacity-100");
            }, 50);
          }
          if (img.complete) {
            fadeInImage();
          } else {
            img.addEventListener("load", fadeInImage);
          }
        });
      });
    </script>
  </body>
</html>
