{% extends "layouts/main.html" %}

<!-- component content -->
{% block content %}
<div class="flex h-full w-full flex-col items-center justify-evenly gap-10">
  <h2 class="relative z-20 font-playpen text-[80px] leading-10 text-gray-900">
    The Game Zone
  </h2>
  <div
    class="relative z-10 w-full flex-1 rounded-[45px] border-[14px] border-blue-500 bg-white p-6"
  >
    <!-- iterate over users -->
    {% for user in users %}
    <div class="flex items-center gap-4">
      <img alt="{{ user.first_name }}" class="h-16 w-16 rounded-full" />
      <h3 class="font-playpen text-2xl text-gray-900">{{ user.first_name }}</h3>
    </div>
    {% endfor %}
  </div>
  {% endblock %}
</div>
