{% extends "layouts/main.html" %}

<!-- component content -->
{% block content %}
<div class="flex h-full w-full flex-col items-center justify-evenly gap-16">
  <h2
    class="relative z-20 text-center font-playpen text-[80px] leading-[5rem] text-gray-900"
  >
    The Game Zone
  </h2>
  <div
    class="relative z-10 flex w-full max-w-4xl flex-1 overflow-hidden rounded-[45px] border-[14px] border-blue-500 bg-white"
  >
    <!-- iterate over users -->
    {% for user in users %}
    <div class="relative h-full w-1/2 overflow-hidden hover:cursor-pointer">
      <img
        src="/image?name={{user.username}}"
        alt="{{ user.first_name }}"
        class="absolute inset-0 h-full w-full object-cover"
      />
      <h3
        class="text-shadow absolute bottom-1/4 left-1/2 z-20 -translate-x-1/2 font-playpen text-5xl text-white"
      >
        {{ user.first_name }}
      </h3>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
