@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Playpen Sans";
  src: url("/static/fonts/playpen-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playpen Sans";
  src: url("/static/fonts/playpen-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/montserrat-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/montserrat-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.text-shadow {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#login-container {
  animation: fadein 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
